frontend/el-buen-sabor-frontend/package-lock.json
backend/.gradle/file-system.probe
backend/.gradle/7.6.1/checksums/checksums.lock
backend/.gradle/7.6.1/executionHistory/executionHistory.bin
backend/build/tmp/compileJava/previous-compilation-data.bin
backend/.gradle/buildOutputCleanup/outputFiles.bin
backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
backend/.gradle/7.6.1/fileHashes/fileHashes.bin
backend/.gradle/7.6.1/fileHashes/fileHashes.lock
backend/.gradle/7.6.1/executionHistory/executionHistory.lock
backend/.gradle/7.6.1/dependencies-accessors/dependencies-accessors.lock
