<ngx-spinner type="ball-scale-multiple">
    <h1>Cargando...</h1>
</ngx-spinner>
<header class="p-3 mb-3 border-bottom" style="background: #f4f4f4;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/inicio" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img class="el-buen-sabor-1" src="../../../assets/img/Logo.png" />
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <form class="col-sm-4" role="search" style="padding-right: 50px;">
                <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">
            </form>
            &nbsp;
            <div class="dropdown text-end" ngbDropdown>
                <button style="border:none; background:#f4f4f4"> <a *ngIf="!(auth.user$ | async) as notUser"
                        class="d-block link-dark text-decoration-none" ngbDropdownToggle>
                        <img src="../../../assets/img/usuario.png" alt="mdo" width="50" height="50"
                            class="rounded-circle">
                    </a></button>

                <button style="border:none; background:#f4f4f4"><a *ngIf="(auth.user$ | async) as user"
                        class="d-block link-dark text-decoration-none" ngbDropdownToggle>
                        <img [src]="user.picture" alt="mdo" width="50" height="50" class="rounded-circle">
                    </a></button>

                <ul ngbDropdownMenu class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li *ngIf="!(auth.user$ | async) as notUser"><button (click)="login()"
                            *ngIf="!(auth.user$ | async) as notUser" type="button"
                            class="dropdown-item">Ingresar</button></li>
                    <li *ngIf="(auth.user$ | async) as user"><a class="dropdown-item" href="/opciones">Opciones</a></li>
                    <li *ngIf="(auth.user$ | async) as user">
                        <hr class="dropdown-divider">
                    </li>
                    <li *ngIf="(auth.user$ | async) as user"><button class="dropdown-item" (click)="logOut()"
                            href="#">Cerrar
                            sesión</button></li>
                </ul>

            </div>
        </div>
    </div>
</header>