<div class="container">
    <br>
    <div class="form-11">
        <img class="wtmpz-tg-j-eb-u" src="../../../assets/img/Logo.png" />
        <div class="register-form">
            <div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Nombre del Rubro</label>
                    <input type="text" [(ngModel)]="nombre" class="form-control" id="exampleInputEmail1" />
                </div>
                <br>
                <div class="mb-3 form-check">
                    <input type="checkbox" [(ngModel)]="estado" class="form-check-input" id="exampleCheck1"
                        [checked]="validaSeVende()">
                    <label class="form-check-label" for="exampleCheck1">Vigente</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary">Confirmar</button>

                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- <div class="d-flex justify-content-center">

    <div class="col-6 justify-content-center">
        <h2 *ngIf="esNuevo">Nuevo Rubro de Ingredientes</h2>
        <h2 *ngIf="!esNuevo">Modificar Rubro de Ingredientes</h2>
        <br>
        <form (ngSubmit)="onSubmit()" [formGroup]="rubro">
            <div class="form-group">
                <label>Nombre Del Rubro</label>
                <input id="nombre" [formControl]="nombre" class="form-control" placeholder="Ingrese el Nombre del Rubro"
                    type="text" value="{{rubroIngrediente.nombre}}">
                <br>
                <div *ngIf="rubroIngrediente.estado">
                    <input id="estadoActivo" type="radio" name="estado" value="true" checked
                        (change)="asignarEstado(true)">
                    <label> Activo</label>
                    <br>
                    <input id="estadoInactivo" type="radio" name="estado" value="false" (change)="asignarEstado(false)">
                    <label> Inactivo</label>
                </div>
                <div *ngIf="!rubroIngrediente.estado">
                    <input id="estadoActivo" type="radio" name="estado" value="true" (change)="asignarEstado(true)">
                    <label> Activo</label>
                    <br>
                    <input id="estadoInactivo" type="radio" name="estado" value="false" checked
                        (change)="asignarEstado(false)">
                    <label> Inactivo</label>
                </div>
            </div>
            <br>
            <div *ngIf="!esNuevo">
                <button class="btn btn-outline-warning" (click)="onSubmit()">Modificar
                </button>
            </div>
            <div *ngIf="esNuevo">
                <button class="btn btn-outline-success ">Agregar
                </button>
            </div>

        </form>
    </div>
</div> -->