.container {
    /* max-width: 100%; */
    overflow-x: auto;
  }
  
  table {
    width: 100%;
  }
  
  th,
  td {
    white-space: nowrap;
  }
  
  .btn {
    width: 20%;
    margin-bottom: 10px;
  }
  .d-flex {
    align-items: center;
  }
  
  @media screen and (max-width: 576px) {
    .d-flex.flex-sm-row {
      flex-direction: column;
    }
  
    .col-sm-4 {
      width: auto !important;
    }
  
    .col-sm-auto {
      flex: 1 1 auto;
      width: 100%;
    }
  }
  