.table-01,
.table-01 * {
  box-sizing: border-box;
  
}
.table-01 {
  background: #ffffff;
  border-radius: 12px;
  padding: 50px 32px 50px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1320px;
  height: 485px;
  position: relative;
}
.frame-2014 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2013 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.new-arrivals {
  color: #1f2937;
  text-align: left;
  font: 600 18px/18px "Inter", sans-serif;
  position: relative;
}
.frame-1896 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 654px;
  position: relative;
}
.frame-6 {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #1d4ed8;
  border-width: 1px;
  padding: 14px 16px 14px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icons-search {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.search-project {
  color: #4b5563;
  text-align: left;
  font: 400 12px/12px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.frame-1894 {
  background: #1d4ed8;
  border-radius: 4px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-2280 {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.new-report {
  color: #ffffff;
  text-align: left;
  font: 500 12px/12px "Inter", sans-serif;
  position: relative;
}
.icons-add-circle {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
/* .table {
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1256px;
  height: 333px;
  position: relative;
} */
.column {
  border-radius: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  background: #f3f4f6;
  border-radius: 8px 0px 0px 8px;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 195px;
  height: 64px;
  position: relative;
}
.developers {
  color: #1f2937;
  text-align: left;
  font: 500 14px/14px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.frame-1868 {
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 195px;
  height: 64px;
  position: relative;
}
.frame-1897 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.jaydon-herwitz {
  color: #1f2937;
  text-align: left;
  font: 500 14px/14px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.frame-1869 {
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 195px;
  height: 64px;
  position: relative;
}
.frame-18972 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.giana-herwitz {
  color: #1f2937;
  text-align: left;
  font: 500 14px/14px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.column2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 160px;
  position: relative;
  overflow: hidden;
  border-top: none ;
}
.row2 {
  background: #f3f4f6;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.comission {
  color: #1f2937;
  text-align: center;
  font: 500 14px/14px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.row3 {
  background: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.row4 {
  background: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.frame-1859 {
  background: #1d4ed8;
  border-radius: 2px;
  padding: 2px 2px 2px 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 30px -5px rgba(160, 160, 160, 0.1),
    0px 5px 12px -5px rgba(174, 174, 174, 0.06);
}
.icons-checkmark {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.row5 {
  background: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.row6 {
  background: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.frame-18592 {
  background: #1d4ed8;
  border-radius: 2px;
  padding: 2px 2px 2px 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 30px -5px rgba(160, 160, 160, 0.1),
    0px 5px 12px -5px rgba(174, 174, 174, 0.06);
}
.icons-checkmark2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.column3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 246px;
  position: relative;
  overflow: hidden;
  border-top: none;
}
.row7 {
  background: #f3f4f6;
  border-radius: 0px 8px 8px 0px;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.collaborators {
  color: #1f2937;
  text-align: center;
  font: 500 14px/14px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.row8 {
  background: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.frame-1898 {
  border-radius: 4px;
  border-style: solid;
  border-color: #1d4ed8;
  border-width: 1px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.view-offer {
  color: #1d4ed8;
  text-align: center;
  font: 500 12px/12px "Poppins", sans-serif;
  position: relative;
}
.row9 {
  background: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.frame-18982 {
  border-radius: 4px;
  border-style: solid;
  border-color: #1d4ed8;
  border-width: 1px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.view-offer2 {
  color: #1d4ed8;
  text-align: center;
  font: 500 12px/12px "Poppins", sans-serif;
  position: relative;
}
