<ngx-spinner type="ball-scale-multiple">
    <h1>Cargando...</h1>
</ngx-spinner>
<div class="container" *ngIf="!termino">
    <div class="frame-27">
        <a href="inicio#pizzas"><img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Pizzas.png" /></a>

        <a href="inicio#hamburguesas"><img class="dise-o-sin-t-tulo-5-1"
                src="../../../assets/img/Hamburguesas.png" /></a>

        <a href="inicio#lomos"><img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Lomos.png" /></a>
    </div>

    <section id="pizzas">
        <div class="caja">
            <div class="center-content">
                <div>
                    <h1 class="card-title">Pizzas</h1>
                    <p class="card-text">Elaboradas con masa madre leudada por 24hs en frío</p>
                </div>
            </div>
            <br>
            <div class="bloques">
                <div class="card" style="width: 18rem;" *ngFor="let articulo of pizzas">
                    <img *ngIf="(articulo.imagen).indexOf('http')>=0" src={{articulo.imagen}}
                        class="card-img-top card-img-fixed-height" alt="...">
                    <img *ngIf="(articulo.imagen).indexOf('http')!=0" src={{articulo.imagen}}
                        class="card-img-top card-img-fixed-height" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{articulo.denominacion}}</h5>
                        <p class="card-text">${{articulo.precioVenta}}</p>
                        <div>
                            <a (click)="agregarAlCarrito(articulo)" class="btn btn-outline-primary"
                                style="display: block; margin-bottom: 10px;">
                                <i class="fas fa-shopping-cart"></i> Agregar al carrito
                            </a>
                            <a [routerLink]="['/detalle-articulo-manufacturado',articulo.id]"
                                class="btn btn-outline-info" style="display: block;">
                                Ver detalle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section id="hamburguesas">
        <div class="caja">
            <div class="center-content">
                <div>
                    <h1 class="card-title">Hamburguesas</h1>
                    <p class="card-text">Hechas en Pan de papas</p>
                </div>
            </div>
            <br>
            <div class="bloques">
                <div class="card" style="width: 18rem;" *ngFor="let articulo of hamburguesas">
                    <img *ngIf="(articulo.imagen).indexOf('http')>=0" src={{articulo.imagen}}
                        class="card-img-top card-img-fixed-height" alt="...">
                    <img *ngIf="(articulo.imagen).indexOf('http')!=0" src={{articulo.imagen}}
                        class="card-img-top card-img-fixed-height" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{articulo.denominacion}}</h5>
                        <p class="card-text">${{articulo.precioVenta}}</p>
                        <div>
                            <a (click)="agregarAlCarrito(articulo)" class="btn btn-outline-primary"
                                style="display: block; margin-bottom: 10px;">
                                <i class="fas fa-shopping-cart"></i> Agregar al carrito
                            </a>
                            <a [routerLink]="['/detalle-articulo-manufacturado',articulo.id]"
                                class="btn btn-outline-info" style="display: block;">
                                Ver detalle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section id="lomos" #lomos>
        <div class="caja">
            <div class="center-content">
                <div>
                    <h1 class="card-title">Lomos</h1>
                    <p class="card-text">Pan hecho con masa madre</p>
                </div>
            </div>
            <br>
            <div class="bloques">
                <div class="card" style="width: 18rem;" *ngFor="let articulo of lomosArray">
                    <img *ngIf="(articulo.imagen).indexOf('http')>=0" src={{articulo.imagen}}
                        class="card-img-top card-img-fixed-height" alt="...">
                    <img *ngIf="(articulo.imagen).indexOf('http')!=0" src={{articulo.imagen}}
                        class="card-img-top card-img-fixed-height" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{articulo.denominacion}}</h5>
                        <p class="card-text">${{articulo.precioVenta}}</p>
                        <div>
                            <a (click)="agregarAlCarrito(articulo)" class="btn btn-outline-primary"
                                style="display: block; margin-bottom: 10px;">
                                <i class="fas fa-shopping-cart"></i> Agregar al carrito
                            </a>
                            <a [routerLink]="['/detalle-articulo-manufacturado',articulo.id]"
                                class="btn btn-outline-info" style="display: block;">
                                Ver detalle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container" *ngIf="termino">
    <br>
    <div class="col-sm-auto">
        <h1>Artículos que contengan '{{termino}}':</h1>
    </div>
    <br>
    <div class="bloques">
        <div class="card" style="width: 18rem;" *ngFor="let articulo of articulosManufacturados">
            <img *ngIf="(articulo.imagen).indexOf('http')>=0" src={{articulo.imagen}}
                class="card-img-top card-img-fixed-height" alt="...">
            <img *ngIf="(articulo.imagen).indexOf('http')!=0" src={{articulo.imagen}}
                class="card-img-top card-img-fixed-height" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{articulo.denominacion}}</h5>
                <p class="card-text">${{articulo.precioVenta}}</p>
                <div>
                    <a (click)="agregarAlCarrito(articulo)" class="btn btn-outline-primary"
                        style="display: block; margin-bottom: 10px;">
                        <i class="fas fa-shopping-cart"></i> Agregar al carrito
                    </a>
                    <a [routerLink]="['/detalle-articulo-manufacturado',articulo.id]" class="btn btn-outline-info"
                        style="display: block;">
                        Ver detalle
                    </a>
                </div>
            </div>
        </div>
    </div>
    <label *ngIf="articulosManufacturados.length == 0">
        No hay artículos que contengan '{{termino}}'.
    </label>
</div>
<br>