<div class="container">
    <div class="frame-27">
        <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Pizzas.png" />

        <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Hamburguesas.png" />

        <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Lomos.png" />

        <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Promos.png" />
    </div>

    <!-- <div class="featured-5">
        <div class="frame-3">
            <div class="frame-1">
                <div class="luxe-streak-collecion">Pizzas</div>

                <div class="start-off-the-new-year-by-hitting-the-ground-running-with-this-purpose-built-workman-s-bag">
                    Elaboradas con masa madre leudada por 24hs en frío
                </div>
            </div>
        </div>

        <div class="frame-2174">
            <div class="frame-2163">
                <img class="unsplash-g-vux-w-he-1-iy" src="../../../assets/img/Pizza comun.jpg" />

                <div class="frame-2162">
                    <div class="luxe-2-series">Pizza Simple</div>

                    <div class="frame-2161">
                        <div class="_23-000">$1900</div>

                        <svg class="vector" width="21" height="19" viewBox="0 0 21 19" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.7912 2.09133C18.3025 1.58683 17.7222 1.18663 17.0836 0.913583C16.445 0.640537 15.7605 0.5 15.0692 0.5C14.378 0.5 13.6935 0.640537 13.0548 0.913583C12.4162 1.18663 11.836 1.58683 11.3473 2.09133L10.3331 3.13785L9.31888 2.09133C8.33177 1.07276 6.99295 0.500528 5.59695 0.500528C4.20096 0.500528 2.86214 1.07276 1.87502 2.09133C0.887901 3.1099 0.333344 4.49139 0.333344 5.93187C0.333343 7.37235 0.887901 8.75383 1.87502 9.7724L2.88922 10.8189L10.3331 18.5L17.777 10.8189L18.7912 9.7724C19.2801 9.26814 19.6679 8.66942 19.9325 8.01045C20.1971 7.35148 20.3333 6.64517 20.3333 5.93187C20.3333 5.21857 20.1971 4.51225 19.9325 3.85328C19.6679 3.19431 19.2801 2.59559 18.7912 2.09133ZM18.7912 2.09133V2.09133Z"
                                stroke="#111827" stroke-width="1.25" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="frame-2164">
                <img class="unsplash-q-s-3-sq-pt-1-t-9-s" src="../../../assets/img/Pizza Calabresa.jpg" />

                <div class="frame-21622">
                    <div class="luxe-2-series2">Pizza Calabresa</div>

                    <div class="frame-21612">
                        <div class="_23-0002">$2200</div>

                        <svg class="vector2" width="21" height="19" viewBox="0 0 21 19" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19.1245 2.09133C18.6358 1.58683 18.0556 1.18663 17.417 0.913583C16.7783 0.640537 16.0938 0.5 15.4026 0.5C14.7113 0.5 14.0268 0.640537 13.3882 0.913583C12.7496 1.18663 12.1693 1.58683 11.6806 2.09133L10.6664 3.13785L9.65223 2.09133C8.66511 1.07276 7.32629 0.500528 5.9303 0.500528C4.5343 0.500528 3.19548 1.07276 2.20836 2.09133C1.22124 3.1099 0.666687 4.49139 0.666687 5.93187C0.666687 7.37235 1.22124 8.75383 2.20836 9.7724L3.22256 10.8189L10.6664 18.5L18.1103 10.8189L19.1245 9.7724C19.6134 9.26814 20.0013 8.66942 20.2659 8.01045C20.5305 7.35148 20.6667 6.64517 20.6667 5.93187C20.6667 5.21857 20.5305 4.51225 20.2659 3.85328C20.0013 3.19431 19.6134 2.59559 19.1245 2.09133ZM19.1245 2.09133V2.09133Z"
                                stroke="#111827" stroke-width="1.25" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="frame-2165">
                <img class="unsplash-f-f-oar-3-awgz-q" src="../../../assets/img/Pizza Jamon.jpg" />

                <div class="frame-21623">
                    <div class="frame-2169">
                        <div class="luxe-2-series3">Pizza con jamón</div>
                    </div>

                    <div class="frame-21613">
                        <div class="_23-0003">$2150</div>

                        <svg class="vector3" width="20" height="19" viewBox="0 0 20 19" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.4578 2.09133C17.9692 1.58683 17.3889 1.18663 16.7503 0.913583C16.1117 0.640537 15.4272 0.5 14.7359 0.5C14.0446 0.5 13.3601 0.640537 12.7215 0.913583C12.0829 1.18663 11.5027 1.58683 11.014 2.09133L9.99977 3.13785L8.98557 2.09133C7.99845 1.07276 6.65963 0.500528 5.26364 0.500528C3.86764 0.500528 2.52882 1.07276 1.54171 2.09133C0.554588 3.1099 3.0528e-05 4.49139 3.05176e-05 5.93187C3.05072e-05 7.37235 0.554588 8.75383 1.54171 9.7724L2.55591 10.8189L9.99977 18.5L17.4436 10.8189L18.4578 9.7724C18.9468 9.26814 19.3346 8.66942 19.5992 8.01045C19.8638 7.35148 20 6.64517 20 5.93187C20 5.21857 19.8638 4.51225 19.5992 3.85328C19.3346 3.19431 18.9468 2.59559 18.4578 2.09133ZM18.4578 2.09133V2.09133Z"
                                stroke="#111827" stroke-width="1.25" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="frame-2175">
            <div class="frame-2163">
                <img class="unsplash-g-vux-w-he-1-iy" src="../../../assets/img/Pizza Margherita.jpg" />

                <div class="frame-2162">
                    <div class="luxe-2-series">Pizza Margherita</div>

                    <div class="frame-2161">
                        <div class="_23-000">$2100</div>

                        <svg class="vector4" width="20" height="19" viewBox="0 0 20 19" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.4578 2.09133C17.9691 1.58683 17.3889 1.18663 16.7503 0.913583C16.1117 0.640537 15.4272 0.5 14.7359 0.5C14.0446 0.5 13.3601 0.640537 12.7215 0.913583C12.0829 1.18663 11.5026 1.58683 11.0139 2.09133L9.99974 3.13785L8.98554 2.09133C7.99842 1.07276 6.6596 0.500528 5.26361 0.500528C3.86761 0.500528 2.52879 1.07276 1.54168 2.09133C0.554557 3.1099 1.0401e-08 4.49139 0 5.93187C-1.0401e-08 7.37235 0.554557 8.75383 1.54168 9.7724L2.55588 10.8189L9.99974 18.5L17.4436 10.8189L18.4578 9.7724C18.9467 9.26814 19.3346 8.66942 19.5992 8.01045C19.8638 7.35148 20 6.64517 20 5.93187C20 5.21857 19.8638 4.51225 19.5992 3.85328C19.3346 3.19431 18.9467 2.59559 18.4578 2.09133ZM18.4578 2.09133V2.09133Z"
                                stroke="#111827" stroke-width="1.25" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="frame-2164">
                <img class="unsplash-q-s-3-sq-pt-1-t-9-s2" src="../../../assets/img/Pizza Napolitana.jpg" />

                <div class="frame-2162">
                    <div class="luxe-2-series">Pizza Napolitana</div>

                    <div class="frame-2161">
                        <div class="_23-000">$2150</div>

                        <svg class="vector5" width="20" height="19" viewBox="0 0 20 19" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.4578 2.09133C17.9691 1.58683 17.3889 1.18663 16.7503 0.913583C16.1117 0.640537 15.4272 0.5 14.7359 0.5C14.0446 0.5 13.3601 0.640537 12.7215 0.913583C12.0829 1.18663 11.5026 1.58683 11.0139 2.09133L9.99974 3.13785L8.98554 2.09133C7.99842 1.07276 6.6596 0.500528 5.26361 0.500528C3.86761 0.500528 2.52879 1.07276 1.54168 2.09133C0.554557 3.1099 1.0401e-08 4.49139 0 5.93187C-1.0401e-08 7.37235 0.554557 8.75383 1.54168 9.7724L2.55588 10.8189L9.99974 18.5L17.4436 10.8189L18.4578 9.7724C18.9467 9.26814 19.3346 8.66942 19.5992 8.01045C19.8638 7.35148 20 6.64517 20 5.93187C20 5.21857 19.8638 4.51225 19.5992 3.85328C19.3346 3.19431 18.9467 2.59559 18.4578 2.09133ZM18.4578 2.09133V2.09133Z"
                                stroke="#111827" stroke-width="1.25" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="caja">
        <div class="center-content">
            <div>
                <h1 class="card-title">Pizza</h1>
                <p class="card-text">Elaboradas con masa madre leudada por 24hs en frío</p>
            </div>
        </div>
        <br>
        <div class="bloques">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/Pizza comun.jpg" class="card-img-top card-img-fixed-height" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Común</h5>
                    <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y
                        componer la mayor parte del contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/Pizza Calabresa.jpg" class="card-img-top card-img-fixed-height" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Calabresa</h5>
                    <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y
                        componer la mayor parte del contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/Pizza Jamon.jpg" class="card-img-top card-img-fixed-height" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza con Jamón</h5>
                    <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y
                        componer la mayor parte del contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/Pizza Margherita.jpg" class="card-img-top card-img-fixed-height" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Marguerita</h5>
                    <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y
                        componer la mayor parte del contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/Pizza Napolitana.jpg" class="card-img-top card-img-fixed-height" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Napolitana</h5>
                    <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y
                        componer la mayor parte del contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                </div>
            </div>
        </div>
    </div>

</div>
<br>