<div class="container">
    <div class="">
        <br>
        <div class="luxe">OPCIONES</div>

        <div class="frame-27">
            <img class="dise-o-sin-t-tulo-2-1" src="../../../assets/img/Pedidos.png" />
        </div>

        <div class="frame-27">
            <a href="/grilla-rubro-productos"><img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Rubro Producto.png" /></a>

            <img class="dise-o-sin-t-tulo-6-1" src="../../../assets/img/Productos.png" />

            <a href="/grilla-rubro-ingredientes"><img class="dise-o-sin-t-tulo-4-1" src="../../../assets/img/Rubro Ingrediente.png" /></a>

            <img class="dise-o-sin-t-tulo-3-1" src="../../../assets/img/Insumos.png" />
        </div>

        <div class="frame-27">
            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Stock de insumos.png" />

            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Registrar Compra.png" />
        </div>

        <div class="frame-27">
            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Clientes.png" />

            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Empleados.png" />
        </div>

        <div class="frame-27">
            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Ranking Productos.png" />

            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Pedidos por Clientes.png" />

            <img class="dise-o-sin-t-tulo-5-1" src="../../../assets/img/Ingresos - Gastos.png" />
        </div>

        
    </div>
</div>