.form-11,
.form-11 * {
  box-sizing: border-box;
}
.form-11 {
  background: #ffffff;
  border-radius: 12px;
  padding: 29px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;

  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.wtmpz-tg-j-eb-u {
  border-radius: 12px 0px 0px 12px;
  flex: 1;
  height: 718px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.register-form {
  border-radius: 12px;
  padding: 48px 96px 48px 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-247 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.get-s-started {
  color: #1f2937;
  text-align: left;
  font: 600 20px/20px "Inter", sans-serif;
  position: relative;
  width: 398px;
}
.frame-242 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-248 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.first-name {
  color: #4b5563;
  text-align: left;
  font: 500 12px/12px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
}
.input2 {
  border-radius: 4px;
  border-style: solid;
  border-color: #d1d5db;
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.frame-1892 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1914 {
  background: #1d4ed8;
  border-radius: 2px;
  padding: 2px 2px 2px 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 30px -5px rgba(160, 160, 160, 0.1),
    0px 5px 12px -5px rgba(174, 174, 174, 0.06);
}
.icons-checkmark {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.cotton-blend {
  color: #1d4ed8;
  text-align: left;
  font: 400 14px/14px "Inter", sans-serif;
  position: relative;
  flex: 1;
}
.button {
  background: #1d4ed8;
  border-radius: 6px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-cta {
  color: #ffffff;
  text-align: center;
  font: 500 16px/16px "Inter", sans-serif;
  position: relative;
}
.button2 {
  background: #ef4444;
  border-radius: 6px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 202px;
  position: relative;
}
.button-cta2 {
  color: #ffffff;
  text-align: center;
  font: 500 16px/16px "Inter", sans-serif;
  position: relative;
}
/* Modificaciones para pantallas pequeñas (menos de 768px) */
@media screen and (max-width: 767px) {
  .form-11 {
    flex-direction: column;
  }

  .wtmpz-tg-j-eb-u {
    height: auto;
    border-radius: 12px 12px 0px 0px;
  }

  .register-form {
    padding: 24px 48px 24px 48px;
  }

  .get-s-started {
    width: auto;
  }

  .button2 {
    width: 100%;
  }
}

/* Modificaciones para pantallas medianas (entre 768px y 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .register-form {
    padding: 24px 48px 24px 48px;
  }

  .get-s-started {
    width: auto;
  }

  .button2 {
    width: auto;
  }
}

/* Modificaciones para pantallas grandes (mayores de 1024px) */
@media screen and (min-width: 1025px) {
  .register-form {
    padding: 48px 96px 48px 96px;
  }

  .get-s-started {
    width: auto;
  }

  .button2 {
    width: auto;
  }
}

