<div class="container">
    <div class="d-flex justify-content-center">
        <h2 *ngIf="id=='nuevoIngrediente'">Agregar Nuevo Ingrediente</h2>
        <h2 *ngIf="id!='nuevoIngrediente'">Modificar Ingrediente Existente</h2>
    </div>
    <br>
    <div class="form-11">
        <img class="wtmpz-tg-j-eb-u" src="../../../assets/img/Logo.png" />
        <div class="register-form">
            <div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Nombre del Ingrediente</label>
                    <input type="text" [(ngModel)]="nombre" class="form-control" id="exampleInputEmail1" />
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Cantidad Actual</label>
                    <input type="number" [(ngModel)]="cantidadActual" class="form-control" id="exampleInputEmail1" />
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Stock Mínimo</label>
                    <input type="number" [(ngModel)]="stockMinimo" class="form-control" id="exampleInputEmail1" />
                </div>
                <br>
                <label for="exampleInputEmail1" class="form-label">Unidad de Medida</label>
                <select class="form-select" [(ngModel)]="unidadMedida" >
                    <option [ngValue]="null" selected>-- Seleccione una opción --</option>
                    <option *ngFor="let u of listaUnidades">{{u}}</option>
                </select>
                <br>
                <label for="exampleInputEmail1" class="form-label">Rubro de Ingrediente</label>
                <select class="form-select" [(ngModel)]="rubro" >
                    <option [ngValue]="null" selected>-- Seleccione una opción --</option>
                    <option *ngFor="let r of listaRubros">{{r}}</option>
                </select>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Costo Por Unidad</label>
                    <input type="number" [(ngModel)]="costoPorUnidad" class="form-control" id="exampleInputEmail1" />
                </div>                
                <br>
                <div class="mb-3 form-check">
                    <input type="checkbox" [(ngModel)]="estado" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Vigente</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" (click)="post()">Confirmar</button>

                    <a type="btn" class="btn btn-danger" href="/grilla-ingredientes">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>