<div class="container">
    <ngx-spinner type="ball-scale-multiple">
        <h1>Cargando...</h1>
    </ngx-spinner>
    <br>
    <div class="d-flex justify-content-center">
        <div class="col-sm-auto">
            <h1>Insumos</h1>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-row">
            <a href="/formulario-ingredientes/nuevoIngrediente">
                <button type="button" class="btn btn-outline-primary">Agregar Nuevo Insumo</button>
            </a>
            <a href="/registrar-compra-ingrediente">
                <button type="button" class="btn btn-outline-primary">Registrar Compra</button>
            </a>
        </div>
        <div>
            <input type="text" [(ngModel)]="busqueda" (ngModelChange)="filtrar()" class="form-control"
                aria-describedby="Buscardor" placeholder="Buscar Ingrediente...">
        </div>
        <div>
            <label>Filtros de búsqueda</label>
            <br>
            <select [(ngModel)]="filtro" (ngModelChange)="filtrar()">
                <option value="ninguno" selected>--Seleccione un Filtro--</option>
                <option value="vigencia">En vigencia</option>
                <option value="no-vigencia">No vigencia</option>
            </select>
        </div>
        <div>
            <label>Filtrar por rubro</label>
            <br>
            <select [(ngModel)]="filtroRubro" (ngModelChange)="filtrar()">
                <option value="ninguno" selected>--Seleccione un Filtro--</option>
                <option *ngFor="let r of rubrosInsumos">{{r.denominacion}}</option>
            </select>
        </div>
    </div>
    <br>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col" style="width:10%">Nombre</th>
                <th scope="col" style="width:10%">Stock Mínimo</th>
                <th scope="col" style="width:10%">Stock Actual</th>
                <th scope="col" style="width:10%">U. de Medida</th>
                <th scope="col" style="width:10%">Rubro</th>
                <th scope="col" style="width:10%">Vigencia</th>
                <th scope="col" style="width:10%">Modificar</th>
                <th scope="col" style="width:10%">Dar de Alta/Baja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ingrediente of ingredientesBusqueda">
                <td>
                    {{ingrediente.denominacion}}
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad=='gr'||ingrediente.unidadMedida.unidad=='ml'">
                    {{ingrediente.stockMinimo/1000}}
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad!='gr'&&ingrediente.unidadMedida.unidad!='ml'">
                    {{ingrediente.stockMinimo}}
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad=='gr'||ingrediente.unidadMedida.unidad=='ml'">
                    {{ingrediente.stockActual/1000}}
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad!='gr'&&ingrediente.unidadMedida.unidad!='ml'">
                    {{ingrediente.stockActual}}
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad=='gr'">
                    kg
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad=='ml'">
                    L
                </td>
                <td *ngIf="ingrediente.unidadMedida.unidad!='ml'&& ingrediente.unidadMedida.unidad!='gr'">
                    {{ingrediente.unidadMedida.denominacion}}
                </td>
                <td>
                    {{ingrediente.rubroInsumo.denominacion}}
                </td>
                <td *ngIf="ingrediente.estado">
                    <p>&#9989;</p>
                </td>
                <td *ngIf="!ingrediente.estado">
                    <p>&#10060;</p>
                </td>
                <td>
                    <a class="btn btn-outline-warning" [routerLink]="['/formulario-ingredientes',ingrediente.id]">
                        Modificar
                    </a>
                </td>
                <td>
                    <button *ngIf="!ingrediente.estado" class="btn btn-outline-success"
                        (click)="actualizarVigencia(ingrediente.id, true)">
                        Dar de Alta
                    </button>
                    <button *ngIf="ingrediente.estado" class="btn btn-outline-danger"
                        (click)="actualizarVigencia(ingrediente.id, false)">
                        Dar de Baja
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <label *ngIf="ingredientesBusqueda.length == 0">
        No se encontraron resultados.
    </label>
</div>