<div class="container">
    <ngx-spinner type="ball-scale-multiple">
        <h1>Cargando...</h1>
    </ngx-spinner>
    <br>
    <div class="d-flex justify-content-center">
        <div class="col-sm-auto">
            <h1>Rubros de Productos</h1>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <a href="/formulario-rubro-productos/nuevoRubro">
                <button type="button" class="btn btn-outline-primary">Agregar nuevo rubro</button>
            </a>
        </div>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="busqueda" (ngModelChange)="filtrar()" class="form-control"
                aria-describedby="Buscardor" placeholder="Buscar Rubro...">
        </div>
        <div>
            <label>Filtros de búsqueda</label>
            <br>
            <select [(ngModel)]="filtro" (ngModelChange)="filtrar()">
                <option value="ninguno" selected>--Seleccione un Filtro--</option>
                <option value="vigencia">En vigencia</option>
                <option value="no-vigencia">Sin vigencia</option>
            </select>
        </div>
    </div>
    <br>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col" style="width:40%">Nombre Rubro</th>
                <th scope="col" style="width:20%">Vigencia</th>
                <th scope="col" style="width:20%">Modificar</th>
                <th scope="col" style="width:20%">Dar de Alta/Baja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rubro of busquedaRubro">
                <td>
                    {{rubro.denominacion}}
                </td>
                <td *ngIf="rubro.estado">
                    <p>&#9989;</p>
                </td>
                <td *ngIf="!rubro.estado">
                    <p>&#10060;</p>
                </td>
                <td>
                    <a class="btn btn-outline-warning" [routerLink]="['/formulario-rubro-productos',rubro.id]">
                        Modificar Rubro
                    </a>
                </td>
                <td>
                    <button *ngIf="!rubro.estado" class="btn btn-outline-success"
                        (click)="actualizarVigencia(rubro.id,true)">
                        Dar de Alta
                    </button>
                    <button *ngIf="rubro.estado" class="btn btn-outline-danger"
                        (click)="actualizarVigencia(rubro.id, false)">
                        Dar de Baja
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <label *ngIf="busquedaRubro.length == 0">
        No se encontraron resultados.
    </label>
</div>